# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
build/

# production
/build

# misc
.DS_Store
*.pem
.env
.env*.local
temp_book.pdf

# python
__pycache__/
*.pyc
